*.tmp
*.tlog
*.obj
*.suo
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.log
*.exe
*.ilk
*.pdb
*.lib
*.exp
*.idb
*.aux
SGE-Test/My Amplifier Results - SGE-Test/r000hs/data.0/2064-13316.0-7892.0.th
*.cs
*.th
*.cfg
*.xml
